/*
* Copyright (c) 2021 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Default_layer 0
#define Layer_1 1

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
        qt: quick_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICK_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <225>;
            flavor = "hold-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
        qtl: quick_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICK_TAP_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <225>;
            flavor = "hold-preferred";
            bindings =
                <&mo>,
                <&kp>;
        };
    };

    macros {
    };

    combos {
        compatible = "zmk,combos";

        combo_switch_to_qaz {
            bindings = <&tog 3>;
            key-positions = <11 23 35>;
        };

        hm_gui_1 {
            bindings = <&kp LGUI>;
            key-positions = <37 29>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <3 4>;
        };

        shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <13 22>;
        };

        blank {
            bindings = <&tog 7>;
            key-positions = <37 38 39 40>;
        };

        ctrl_plus_alt {
            bindings = <&kp LA(LCTRL)>;
            key-positions = <38 37>;
        };

        combo_caplocks {
            bindings = <&kp CAPSLOCK>;
            key-positions = <13 14 22 21>;
        };

        combo_f1 {
            bindings = <&kp F1>;
            key-positions = <1 13>;
        };

        combo_f2 {
            bindings = <&kp F2>;
            key-positions = <2 14>;
        };

        combo_f3 {
            bindings = <&kp F3>;
            key-positions = <15 3>;
        };

        combo_f4 {
            bindings = <&kp F4>;
            key-positions = <4 16>;
        };

        combo_f5 {
            bindings = <&kp F5>;
            key-positions = <5 17>;
        };

        combo_f6 {
            bindings = <&kp F6>;
            key-positions = <6 18>;
        };

        combo_f7 {
            bindings = <&kp F7>;
            key-positions = <7 19>;
        };

        combo_f8 {
            bindings = <&kp F8>;
            key-positions = <8 20>;
        };

        combo_f9 {
            bindings = <&kp F9>;
            key-positions = <9 21>;
        };

        combo_f10 {
            bindings = <&kp F10>;
            key-positions = <10 22>;
        };

        combo_f11 {
            bindings = <&kp F11>;
            key-positions = <25 13>;
        };

        combo_f12 {
            bindings = <&kp F12>;
            key-positions = <14 26>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R         &kp T         &kp Y         &kp U         &kp I      &kp O &kp P
&kp A  &kp S         &kp D         &kp F         &kp G         &kp H      &kp J    &kp K     &kp L  &kp ENTER  
&kp Z  &kp X  &kp C         &kp V         &kp B         &kp N         &kp M  &kp COMMA  &kp DOT  &kp FSLH
                     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4
            >;
        };

        Layer_1 {
            bindings = <
&kp NUMBER_1 &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9 &kp NUMBER_0
&kp A         &kp S         &kp D         &kp F         &kp G         &kp H         &kp J    &kp K     &kp L  &kp ENTER  
       &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N         &kp M     &kp COMMA  &kp DOT  &kp FSLH
                                          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4
            >;
        };
    };
};